<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="<%= image_path('logo.png') %>"></a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Novo Pacheco</a></li>
            <li><a href="/marcas">Marcas</a></li>
            <li class="active"><a href="/contacto">Contacto</a></li>



          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<!-- *****************************************************************************************************************
	 CONTACT WRAP
	 ***************************************************************************************************************** -->

	 <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d5786.836632775678!2d-58.620379031643125!3d-34.47024157566476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sav+boulogne+sur+mer+1200+general+pacheco!5e0!3m2!1ses!2sar!4v1436497694300" width="1260" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
	 
	<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-8">
	 			<h4>Pongase en contacto!</h4>
	 			<div class="hline"></div>
		 			<p>Ante cualquier duda o consulta, no dude en ponerse en contacto con nosotros, estamos a su disposición.</p>
		 			<form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
					  <div class="form-group">
					    <label for="InputName1">Nombre</label>
					    <input type="text" name="nombre" id="nombre" class="form-control"  required>	
					  </div>
					  <div class="form-group">
					    <label for="InputEmail1">Email</label>
					    <input type="email" name="email" id="email" class="form-control" required>
					  </div>
					  <div class="form-group">
					    <label for="InputSubject1">Asunto</label>
					    <input type="text" name="asunto" id="asunto" class="form-control"  required>
					  </div>
					  <div class="form-group">
					  	<label for="message1">Mensaje</label>
					  	<textarea name="mensaje" id="mensaje" class="form-control" rows="8"  required></textarea>
					  </div>
					  <button type="submit" class="btn btn-theme">Enviar</button>
					</form>
			</div><!--/col-lg-8 -->
	 		
	 		<div class="col-lg-4">
		 		<h4>Datos adicionales</h4>
		 		<div class="hline"></div>
		 			<p>
		 				Boulogne Sur Mer,<br/>
		 				1275, General Pacheco,<br/>
		 				Argentina.<br/>
		 			</p>
		 			<p>
		 				<strong>Email:</strong> info@novopacheco.com<br/>
		 				<strong>Tel:</strong> 381 4 460610
		 			</p>
		 			<p><strong>Horario de atención al público</strong><br> 9 a 21hs. de Lunes a Viernes</p>
	 		</div>
	 	</div><!--/row -->
	 </div><!--/container -->


	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>Novo Pacheco Shopping</h4>
		 			<div class="hline-w"></div>
		 			<p>Podrá vivir lindos momentos, entre familiares o amigos, desde ir de compras, cenar o participar de divertidos talleres que se dictan en el lugar.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Redes sociales</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="https://www.facebook.com/NovoPacheco?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Contacto</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				3814460610,<br/>
		 				info@novopacheco.com,<br/>
		 				General Pacheco.<br/>
		 			</p>
		 		</div>
		 	
		 	</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/footerwrap -->