default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: postgres
  password: postgres

development:
  <<: *default
  database: novoD

test:
  <<: *default
  database: novoT

production:
  <<: *default
  database: novoP
